<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobVacancyProcess</servlet-name>
        <servlet-class>servlet.JobVacancyProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplicantProses</servlet-name>
        <servlet-class>servlet.AplicantProses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActionApplicants</servlet-name>
        <servlet-class>servlet.ServletActionApplicants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageManager</servlet-name>
        <servlet-class>servlet.ManageManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahManager</servlet-name>
        <servlet-class>servlet.TambahManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplicantProses</servlet-name>
        <url-pattern>/AplicantProses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobVacancyProcess</servlet-name>
        <url-pattern>/JobVacancyProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActionApplicants</servlet-name>
        <url-pattern>/ServletActionApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageManager</servlet-name>
        <url-pattern>/ManageManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahManager</servlet-name>
        <url-pattern>/TambahManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
